body{
  background-color: $dark-background;
}
#app{
  &.dark{
    background: $dark-background;
    border-color: $dark-box-border;
    #sidebar{
      color: $dark-sidebar-text-color;
      a{
        color: $dark-sidebar-text-color;
      }
      .nav-links{
        .tree-level{
          &:hover{
            background-color: $dark-sidebar-highlight;
            color: $dark-sidebar-text-color_active;
            a{
              color: $dark-sidebar-text-color_active
            }
          }
        }
        .files{
          .active{
            color: $dark-main-color-1-light;
            div{
              background-color: $dark-sidebar-highlight;
            }
            a{
              color: $dark-sidebar-text-color_active;
            }
          }
        }
      }
      .email-container{
        .email-widget{
          i,p{
            color: $dark-sidebar-text-color;
          }
          &:hover{
            i{
              color: $dark-main-color-2;
            }
            p{
              color: $dark-main-color-3;
            }
          }
        }
      }
    }
    #topbar{
      color: $dark-topbar-text-color;
      #top-nav{
        .nav-links{
          .tabs{
            a.active,
            a:hover{
              .tab{// box shadow
                // -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .1);
                // -moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .1);
                // box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, .1);
                @include prefix(box-shadow , inset 1px 1px 1px 0px rgba(255, 255, 255, .1));
                // border gradient
                border-image: none;
                background-color: $dark-topbar-highlight;
                border-left-color: $dark-topbar-highlight_border;
                border-top-color: $dark-box-border;
                color: $dark-topbar-text-color_active;
              }
            }
            .tab{
              border-color: $dark-box-border;
              color: $dark-topbar-text-color;

            }
          }
        }
      }
    }
    #main{
      background-color: $dark-main-content-background;
      color: #f8f0e3;//#f8f9e9;
      border-color: $dark-box-border;
      h1{
        color: $dark-main-color-1;
        @include prefix(text-shadow , .5px .4px lighten($dark-main-color-1-light, 5%));
        // text-shadow: .5px .4px lighten($dark-main-color-1-light, 5%);
      }
      .content{
        .header{
          i{
            color: $dark-main-color-2-light;
          }
        }
      }
      .home-container{

      }
      .about-container{
        .header{
          .fun-facts{

            // opacity: .8;
            .title{
              color: $dark-main-color-2-light;
              font-weight: bold;
              padding-right: 5px;
            }
            .dynamic-content{
              color: $dark-main-color-3-light;
            }
          }
        }
      }
      .work-container{
        .body{
          .projects{
            .project{
              .meta-container{
                .title{
                  color: lighten($dark-main-color-1-light, 10%);
                }
              }
            }
          }

        }
      }
    }
    #footer{
      .left-side{

      }
      .right-side{
        .copy-right{
          i{
            color: $dark-main-color-1-light;
          }
          p{
            color: $dark-main-color-2-light;
          }
        }
      }
    }
    #skills{
      .skills-container{
        span{
          color: $dark-main-content-background;
          @include prefix(box-shadow, (inset 0px .5px 2px 0px rgba(255,255,255,.3), inset 0px -.5px 2px 0px rgba(255,255,255,.3)));
        }
      }
    }
  }
}
