@import "../partials/mixins";

#topbar{
  height: 8vh;
  #top-nav{
    .nav-links{
      .tabs{
        width: 100%;
        display: flex;
        font-size: 1.2em;
        a{
          display: inline-block;
          width:  calc(25%);
          &.active,
          &:hover{
            .tab{
              @include border-radius(4px 4px 0px 1px);
              border: solid;
              border-left-width: 3px;
              border-right-width: 1px;
              border-top-width: 1px;
              border-bottom: 0px;
              @include transition();
            }
          }
          .tab{
            height: 6vh;
            margin-top: 2vh;
            text-align: center;
            line-height: 6vh;
            text-decoration: none;
            border-style: solid;
            border-right-width: 1px;
            border-left-width: 0px;
            border-bottom-width: 1px;
            border-top-width: 0px;
            @include transition();

          }
        }
      }
    }
  }
}
